---
layout: archive
title: "Grants and Awards"
permalink: /grants/
author_profile: true
---

{% if site.talkmap_link == true %}

<!-- <p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p> -->


{% endif %}

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->


<ol>
  <li>The role of holobiont communication in physiological processes across time, Leverhulme grant, I co‑authored a Leverhulme grant with Prof. Filipe Cabreiro, which was awarded in 2022. <br>
  Grant code: RPG‑2022‑299 (£283,335)</li>
  <li>Earth‑Life Science Institute Origins Network (ELSI‑EON) Seed Grant, Grant to support innovative high‑risk/high‑reward research projects on the origins of life problem. Our project
  aimed the study of phase transitions in chemical reaction networks. ($49,910)</li>
  <li>Grant for Short Stays from the Spanish Ministry of Economy and Competitiveness, to fund a 3‑month research stay at the Albert Einstein College of Medicine, NYC, in 2016. <br>
    Grant code: EEBB-I-16-11334 (6170€)</li>
  <li>FPI scholarship, Spanish Ministry of Science, Grant to fund 4 years of PhD research at the National level in Spain (2013). <br>  Grant code: FPI BES‑2013‑062767 (57,600€)</li>
  <li>Student travel grant for workshop attendance, Erasmus Program, Travel and accommodation expenses for an Erasmus Program organised by the Pierre et Marie Curie University. (300€)</li>
  <li>Student grant <em>Ayuda para Cursos de Inglés</em> from the Spanish Ministry of Education, 2011. <br> It covered tuition, travel and accomodation in New York City for 3 weeks. (2100€)</li>
  <li>Student grant <em>Becas para Estudios Universitarios</em> from the Spanish Ministry of Education. <br> Covered 5 years of tuition and undergraduate studies at the University of Valencia (years 2007-2011) (total of ~10,000€) </li>
</ol>